<?xml version="1.0" encoding="UTF-8"?>
<plugin
        version="25.07.10"
        xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Fully functional data dictionary to replace the old data dictionary until something better comes along."
        name="UCSD - Data Dictionary"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Alec McLeran">
        <contact email="mclerana@urbandaleschools.com"/>
    </publisher>
</plugin>